@font-face {font-family: Arimo; src: url('Arimo-Regular.ttf');}
@font-face {font-family: Arimo; font-weight: bold; src: url('Arimo-Bold.ttf');}

#container-body {width: 980px; margin: 0 auto;}
#container-footer {width: 980px; margin: 0 auto;}
#links {text-align: right;}
#links img {height: 25px; width: 25px;}
#logo img {height: 175px; width: 175px;}
#logo {position: relative;}

.mainNav {list-style-type: none; margin: 0; padding: 0; display: inline-block; float: right; position: absolute; bottom: 0; left: 45%}
.mainNav > li {display: inline-block; width: 125; text-align: center;}
.mainNav > li > a {font-family: 'Nunito', sans-serif; text-decoration: none; color: black}

